{% extends 'base.html.twig' %}

{% block title %}liste personnel{% endblock %}

{% block body %}
    <section id="content" class="table-layout animated fadeIn">

        <div class="chute chute-center">

            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title col-lg-5">Liste des conges</div>
                    <div class="col-lg-15 text-right">
                        <a href="{{ path('espace_employe_conge_ajouter') }}" class="btn btn-dark btn-sm"><i
                                    class="fa fa-plus"></i> Ajouter</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">nom</th>
                                <th scope="col">prenom</th>
                                <th scope="col">type</th>
                                <th scope="col">date debut </th>
                                <th scope="col">date fin</th>
                                <th scope="col">nombre de jour</th>
                                <th scope="col">description</th>
                                <th >action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for conge in conges %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ conge.personnel.noms }}</td>
                                    <td>{{ conge.personnel.prenoms }}</td>
                                    <td>{{ conge.type }}</td>
                                    <td>{{ conge.dated|date('d-m-Y')}}</td>
                                    <td>{{ conge.datef|date('d-m-Y')}}</td>
                                    <td>{{ conge.nbjour}}</td>
                                    <td>{{ conge.description}}</td>

                                    <td>
                                        <a href="{{ path('espace_employe_conge_modifier', {'id': conge.id}) }}">
                                            <i class="fa fa-edit text-info"></i>
                                        </a>
                                        <a href="{{ path('espace_employe_conge_supprimer', {'id': conge.id}) }}">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
